
.header {
  background-color: whitesmoke;
  font-family: sans-serif;
  height: 120px;
  margin-bottom: 30px;
  align-content: center;
  align-items: center;
  display: flex;
}

.headerLogo {
  width: 30%;
  align-content: flex-start;
}
.headerLogo > img {
  width: 140px;
}

.headerText {
  width: 70%;
}

.header h1 {
  color: #1A1A1D;
  text-align: center;
  text-transform: uppercase;
}
