@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

.nav {
    background-color:  whitesmoke;
    width: 20%;
    height: 100%;
    font-family: 'Alata', sans-serif;
}

.item {
    margin-top: 75px;
    text-align: center;
}
.item a {
    color: black;
    font-size: 30px;
}

a {
    color: black;
    text-decoration-line: none;
    transition-duration: .3s;
}

a:hover {
    transition-duration: .3s;
    color: orange;
}