@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

.nav {
  background-color:  whitesmoke;
  width: 20%;
  min-height: 650px;
  font-family: 'Alata', sans-serif;

  &Item {
    margin-top: 75px;
    text-align: center;  
  }
}

.navItem a {
    color: black;
    font-size: 30px;
}

a {
    color: black;
    text-decoration-line: none;
    transition-duration: .3s;
}

a:hover {
    transition-duration: .3s;
    color: orange;
}