.newsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  width: 80%;
  height: 700px;
  margin-left: 20px;
  & > .blockWrapper:not(:last-child){
    margin-bottom: 15px;
  }
  & > .blockWrapper {
    display: flex;
    flex-direction: column;
  }
}