
.app-wrapper {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
}
.contentWrapper {
  height: 2000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}